<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script></script>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/common.js"></script>
    <script>
        $(function(){
            $('#btnJSON').click(function(){
                var xhr = createXhr();
                xhr.open('get','/09-server',true);
                xhr.onreadystatechange=function(){
                if(xhr.readyState==4&&xhr.status==200){
                    // console.log(xhr.responseText)
                    // 将responseText转换为JSON格式的对象
                    var arr = JSON.parse(xhr.responseText)
                    $(arr).each(function(i,obj){
                        console.log('姓名:'+obj.name)
                        // ...
                    }
                    )
                }
                
            }
            xhr.send(null)
        });
        });
    
    </script>
</head>
<body>
    <button id="btnJSON">JSON数据</button>
</body>
</html>