<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'postinfo' %}" method="POST" >
        {% csrf_token %}
        <p>
            uname: <input type="text" name="uname" id="">
        </p>
        <p>
            upassword: <input type="password" name="upassword" id="">
        </p>
        <input type="submit" value="提交" id="">
    </form>
</body>
</html>